@import '../../scss/utilities/mixins';
@import '../../scss/utilities/functions';
@import '../../scss/utilities/variables';


.title {
    @include size(65%, empty());
    @include margin(50px, empty());
    @include tablet(){
        width: $max-width;
    }
    @include laptop(){
        width: $max-width;
    }
    @include desktop(){
        @include size(80%, empty());
    }

    &__text {
        font-weight: bolder;
        @include flexible(flex, flex-start, empty(), empty(), empty());
        @include fontSize (30px);
        line-height: 0.8;
        @include tablet(){
            @include fontSize (50px);
        }
        @include laptop(){
            @include fontSize (60px);
        }
        @include desktop(){
            @include fontSize (70px);
        }
    }
}