.link__nav{
    color: #c3167c;
    font-weight: 700;
    margin: 0 20px 0 20px;
    text-decoration: none;
}
.link{
    display: flex;
    justify-content: space-between;
    margin-top: 25px;
}
.link__nav.btn{
    color: white;
    font-weight: 700;
    padding-top: 5px;
    width: 150px;
    height: 30px;
    text-align: center;
    text-decoration: none;
    background-color: #c3167c;
}