.grid-container{
    display: grid;
    width: 400px;
    height: 400px;
    background-color: pink;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}
.item-1{
    grid-area: 1 / 1 / span 1 / span 3;
    background-color: cyan;
}
.item-2{
    grid-area: 2 / 1 / span 1 / span 1;
    background-color: yellow;
}
.item-3{
    grid-area: 2 / 3 / span 1 / span 1;
    background-color: green;
}
.item-4{
    grid-area: 3 / 1 / span 1 / span 3;
    background-color: red;
}