.player{
    padding-top: 40px;
    max-width: 400px;
    &__cover{
        @include flexible(flex, center, empty(), empty(), wrap);
    }
    &__cover img{
        width: 80%;
    }
    &__reproductor__title{
        text-align: center;
        font-size: 16px;
    }
    &__reproductor__time{
        width: 80%;
        @include flexible(flex, space-between, center, empty(), empty());
    }
    &__reproductor__options{
        @include flexible(flex, space-between, empty(), empty(), empty());
        
    }
}