$body-width: 1440px;
$first-color: #fff;
$second-color: #000;
$third-color: #F71414;
$fourth-color: gray;
$font: Arial, Helvetica, sans-serif;
$min-tablet: 480px;
$max-tablet: 767px;
$min-laptop: 768px;
$max-laptop: 1023px;
$min-desktop: 1024px;
$border-box: 50px 20px;
$max-width: 100%;