@font-face {
  font-family: "Roboto";
  src: url("../../assets/fonts/Roboto-Light.ttf");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: url("../../assets/fonts/Roboto-Bold.ttf");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Poller One";
  src: url("../../assets/fonts/PollerOne-Regular.ttf");
  font-weight: 700;
  font-style: normal;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", Arial, sans-serif;
  font-weight: 300;
}

.header {
  text-align: center;
  height: 67px;
  background-color: #4E4E4E;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media screen and (min-width: 768px) {
  .header {
    height: 87px;
  }
}
@media screen and (min-width: 1440px) {
  .header {
    max-width: 1280px;
    border-radius: 100px;
    margin: 69px auto 20px auto;
  }
}
.header__title {
  font-family: "Poller One";
  font-size: 18px;
}
@media screen and (min-width: 768px) {
  .header__title {
    font-size: 24px;
  }
}
.header__subtitle {
  font-size: 14px;
  display: block;
}
@media screen and (min-width: 768px) {
  .header__subtitle {
    font-size: 20px;
  }
}
.header--home {
  background-image: url(../../assets/images/cabecera.png);
  background-repeat: no-repeat;
  background-position: bottom;
  background-color: black;
  height: 100vh;
}
@media screen and (min-width: 1440px) {
  .header--home {
    height: 581px;
    max-width: 1320px;
    border-radius: 500px;
    margin: 117px auto 0 auto;
  }
}
.header--home .header__title {
  font-size: 34px;
}
@media screen and (min-width: 768px) {
  .header--home .header__title {
    font-size: 40px;
  }
}
.header--home .header__subtitle {
  font-size: 24px;
}
@media screen and (min-width: 768px) {
  .header--home .header__subtitle {
    font-size: 32px;
  }
}

.footer {
  height: 77px;
  border-bottom: 12px solid #E4D18C;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #F3F3F3;
  color: #B7B7B7;
  margin-top: 59px;
}
@media screen and (min-width: 768px) {
  .footer {
    height: 100px;
    border-bottom: 20px solid #E4D18C;
  }
}
@media screen and (min-width: 1440px) {
  .footer {
    height: 100px;
    border-bottom: 0px;
    border-radius: 100px;
    max-width: 1280px;
    margin: 58px auto 65px auto;
  }
}
.footer__title {
  font-family: "Poller One";
  font-size: 14px;
}
@media screen and (min-width: 768px) {
  .footer__title {
    font-size: 20px;
  }
}
.footer__copyright {
  font-size: 14px;
}
@media screen and (min-width: 768px) {
  .footer__copyright {
    font-size: 16px;
  }
}

.section-home {
  text-align: right;
  padding: 23px;
}
@media screen and (min-width: 768px) {
  .section-home {
    text-align: center;
    max-width: 768px;
    margin: 0 auto;
  }
}
@media screen and (min-width: 1024px) {
  .section-home {
    max-width: 900px;
  }
}
.section-home__title {
  font-size: 14px;
  font-family: "Poller One";
  margin: 25px auto;
}
@media screen and (min-width: 768px) {
  .section-home__title {
    font-size: 24px;
  }
}
.section-home__description {
  font-size: 16px;
}
@media screen and (min-width: 768px) {
  .section-home__description {
    font-size: 24px;
  }
}

.nav {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-items: center;
  text-align: center;
}
.nav__link {
  font-size: 20px;
  font-weight: 700;
  text-decoration: none;
  color: white;
  background-color: #4E4E4E;
  border-radius: 100px;
  margin-bottom: 15px;
  width: 100%;
  padding: 18px;
  cursor: pointer;
}
@media screen and (min-width: 768px) {
  .nav__link {
    font-size: 32px;
    width: 50%;
  }
}

@media screen and (min-width: 1440px) {
  .section {
    max-width: 1280px;
    margin: auto;
  }
}
.section__title {
  font-family: "Poller One";
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #656565;
  height: 51px;
}
@media screen and (min-width: 768px) {
  .section__title {
    font-size: 20px;
  }
}
@media screen and (min-width: 1440px) {
  .section__title {
    border-radius: 50px;
    max-width: 360px;
    margin: 20px auto 63px auto;
  }
}
.section__container {
  display: flex;
  flex-wrap: wrap;
}

/*44 arriba
28.75 abajo
11 abajo texto*/
.card {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  margin: 44px 19px 0 16px;
  width: 100%;
  padding-bottom: 29px;
  border-bottom: 2px solid white;
}
@media screen and (min-width: 768px) {
  .card {
    background-color: #141414;
    border: 2px #1E1E1E;
  }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .card {
    margin: 8px;
    padding: 8px;
    width: calc(50% - 16px);
  }
}
@media screen and (min-width: 1024px) and (max-width: 1279px) {
  .card {
    margin: 17px;
    padding: 17px;
    width: calc(50% - 34px);
  }
}
@media screen and (min-width: 1280px) and (max-width: 1439px) {
  .card {
    margin: 24px;
    padding: 24px;
    width: calc(33% - 48px);
  }
}
@media screen and (min-width: 1440px) {
  .card {
    margin: 19px;
    padding: 19px;
    width: calc(33% - 38px);
  }
}
.card__title {
  width: 100%;
  text-align: left;
  font-weight: 700;
  font-size: 14px;
  padding: 13px;
}
@media screen and (min-width: 768px) {
  .card__title {
    font-size: 18px;
    text-align: center;
    padding-top: 0;
  }
}
.card__img {
  max-width: 180px;
  width: 50%;
  display: block;
}
.card__info-container {
  padding-left: 9px;
}
.card__info-title {
  font-weight: 700;
  font-size: 10px;
  padding-bottom: 5px;
}
@media screen and (min-width: 768px) {
  .card__info-title {
    font-size: 12px;
  }
}
.card__info {
  font-size: 14px;
  margin-bottom: 11px;
}
@media screen and (min-width: 768px) {
  .card__info {
    font-size: 16px;
  }
}
.card__link {
  text-decoration: none;
  display: block;
  font-size: 12px;
  width: 100%;
  max-width: 123px;
  padding: 10px 15px;
  text-align: center;
  background-color: #E4D18C;
  color: white;
  font-weight: 700;
}

.detail {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding-left: 16px;
}
@media screen and (min-width: 768px) {
  .detail {
    margin-left: 61px;
  }
}
.detail__img {
  width: 100%;
}
@media screen and (min-width: 768px) {
  .detail__img {
    width: 250px;
  }
}
.detail__info-container {
  margin-top: 10px;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .detail__info-container {
    max-width: 958px;
    margin: 0 auto;
    width: calc(100% - 290px);
  }
}
.detail__title {
  text-align: center;
  font-size: 24px;
  font-weight: 700;
  width: 100%;
  padding: 21px;
}
@media screen and (min-width: 768px) {
  .detail__title {
    font-size: 40px;
    width: 85%;
    background-color: #141414;
    border-top-right-radius: 200px;
    border-bottom-right-radius: 200px;
    text-align: left;
    margin: 63px auto 39px 0px;
  }
}
.detail__info-title {
  font-size: 14px;
  font-weight: 700;
}
@media screen and (min-width: 768px) {
  .detail__info-title {
    font-size: 18px;
    padding-left: 28px;
  }
}
.detail__info {
  font-size: 18px;
  font-weight: 300;
  margin-bottom: 23px;
}
@media screen and (min-width: 768px) {
  .detail__info {
    font-size: 20px;
    padding-left: 28px;
  }
}
.detail__options-container {
  width: 100%;
}
.detail__options-title {
  font-size: 14px;
  font-weight: 700;
  padding-bottom: 21px;
}
@media screen and (min-width: 1280px) and (max-width: 1439px) {
  .detail__options-title {
    text-align: center;
  }
}
@media screen and (min-width: 1440px) {
  .detail__options-title {
    text-align: center;
  }
}
.detail__img-container {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
}
@media screen and (min-width: 1280px) and (max-width: 1439px) {
  .detail__img-container {
    justify-content: center;
  }
}
@media screen and (min-width: 1440px) {
  .detail__img-container {
    justify-content: center;
  }
}
.detail__options-img {
  border-radius: 100px;
  width: 83px;
  margin: auto 17px 27px auto;
}
@media screen and (min-width: 768px) {
  .detail__options-img {
    width: 100px;
    margin: 15px;
  }
}
@media screen and (min-width: 768px) {
  .detail--starship .detail__img {
    width: 500px;
    margin: 0 auto;
  }
  .detail--starship .detail__title {
    border-radius: 200px;
    text-align: center;
  }
  .detail--starship .detail__info-container {
    padding-left: 0px;
    width: 100%;
    max-width: 958px;
  }
  .detail--starship .detail__options-container {
    padding-left: 30px;
  }
}

body {
  background-color: black;
  color: white;
}/*# sourceMappingURL=styles.css.map */