$body-width: 1440px;
$min-mobile: 320px;
$max-mobile: 767px;
$min-tablet: 768px;
$max-tablet: 1023px;
$min-desktop-s: 1024px;
$max-desktop-s: 1279px;
$min-desktop-m: 1280px;
$color1: #EF631A;
$color2: #FFD0B3;
$color3: #FFF8F4;
$color4: #ffffff;
$color5: #000000;
$color6: #A0A0A0;
$color7: #F5F5F5;