@font-face {
    font-family: "Heura";
    src: url(../assets/fonts/Heura.woff);
}
@media screen and (max-width: 1024px) {
    .header-list-text{
        visibility: hidden;
        display: none;
    }
    .header-list{
        padding-left: 0%;
    }
    .fa-bars{
        padding-top: 20%
    }
}
@media screen and (min-width: 1025px) {
    .fa-bars{
        visibility: hidden;
        display: none;
    }
    .div-container-menu{
        visibility: hidden;
        display: none;
    }
}
header{
    height: 198px;
}
.header{
    display: flex;
    background-color: #f9e021;
    justify-content: space-between;
    padding-top: 6vh;
}

.div-container-img{
    width: 30%;
    padding-left: 4vw;
}
.header-img{
    height: 23%;
    
}
nav{
    display: flex;
    width:70%;
    justify-content: space-evenly;
}
.header-list{
    display: flex;
    list-style: none;
}
.header-list-text{
    position: initial;
    font-family: "Heura";
    font-size: 1.9rem;
    padding-right: 4rem;
}

.div-container-menu{
    width: 12ex;
    height: 12ex;
    border-radius: 50%;
    align-items: center;
    text-align: center;
    background-color: white;

}
.fa-bars{
    text-align: center;
    font-size: 3rem;
    color: black;
}
li:hover{
    color: white;
    text-decoration: underline;
    transition-duration: 1s;
    transition-timing-function: linear;
    animation: flash;
    animation-duration: 0.5s;
}
